# --- 1.  ---
ckpt/
logs/
batches/
batches_2nd/
batches_4th/
data/
data/4th/
data/Builing_2/
script/backup/

# --- 2. Python pycache ---
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/

# --- 3. Pipeline outputs ---
output/
output_clean/
per_wall/
temp_viz_*/
*.ifc

# --- 4. Backup files ---
environment_full_backup.yml
requirements_backup.txt